<link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-md">
  <a class="navbar-brand logo" href="#"><i class="fa-solid fa-ship"></i>FTR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item myitem" style="float: left;">
        <a class="nav-link mylink disable" *ngIf="!aProfile && !cProfile"><i class="fa fa-cog"></i>&nbsp;Services</a>
      </li>
      <li class="nav-item myitem" style="float: left;">
        <a class="nav-link mylink disable" *ngIf="!aProfile && !cProfile"><i class="fa fa-user"></i>&nbsp;About Us</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" *ngIf="!aProfile && !cProfile"><i class="fa-solid fa-user-plus"></i>&nbsp;Register</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" *ngIf="!aProfile && !cProfile"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Login</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" *ngIf="aProfile || cProfile">&nbsp;Work Items</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" *ngIf="aProfile" [routerLink] = "['terminals']">&nbsp;Terminals</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" *ngIf="cProfile">&nbsp;View Profile</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" *ngIf="aProfile || cProfile"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Log out</a>
      </li>
    </ul>
  </div>  
</nav>
<div class="container-fluid content">
  <router-outlet></router-outlet>
</div>