<div class="container container-fluid">

    <div class="row">
        <div class="card col-md-12">
            <div class="card-body">
                <h3>About Us</h3>
                <p>
                    FTR is one of the major sources in International trade, transferring large volumes of
                    commodities and connecting countries across continents. Efficient management of port has a direct 
                    impact on the Shipping capability of a country.
                    Time management, Quantity, safety is some of the prime concerns we give priority on.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="card col-md-3">
            <div class="card-body">
                <h4>FTR facilities</h4>
                <p>Freight Transport Region application helps to manage the overall operations in Habor.
                    Admin(Employees of FTR) and User(Vendor) can avail this application.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-body">
                <h4>Admin Services</h4>
                <p>
                    FTR admin can manage the major details like managing terminals, loading and grounding operations,
                    handling driver mapping for each vehicle, garage location and deallocation, permit barrier access
                    for the vehicle and manage sensor details.
                </p>
            </div>
        </div>
        <div class="card col-md-3" >
            <div class="card-body">
                <h4>Customer Services</h4>
                <p>
                    Customer can register with FTR and request for freight transport, includes the
                    various user configurations and it can be viewed using operational Dashboard.
                </p>
            </div>
        </div>
    </div>
    
</div>

