/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

nav{
    background-color: rgb(168, 163, 163);
}

.logo{
    font-family: navBrandFont;
    font-weight: bolder;
    color:white;
}

.logo:hover{
    color: blue;
}

.myitem{
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    color: white;
    font-weight: bold;

}

.myitem:hover{
    color: blue;
}
.mylink{
    color:white;
    font-weight: bold;

}

.mylink:hover{
    color: blue;;
}

body{
    background-size: cover;
    background-image: url(./assets/Images/ftr_background.jpg);
    background-repeat:repeat;
    /* background-color: rgb(226, 227, 228); */
}

.success{
    color: rgb(10, 95, 10)
}

.error{
    color: red;
}

.content{
    overflow-x: hidden;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(168, 163, 163);
    color: white;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    padding-top: 7px;
    height: 50px; 
    font-weight: bold;           /* Footer height */
}

.icon-button{
    background-color:rgb(0, 174, 255); 
    border-radius: 5px;
    opacity: 0.8;
    margin: 10px 10px 10px 10px;
    border: none;
    color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
