<div class="conatiner container-fluid">
    <div class="card" style="opacity: 0.8;margin: 20px 20px 20px 20px;">
        <div class="card-header" style="text-align: center;"><h4>{{addTerminalHeader}}</h4></div>
        <div class="card-body">
            <div *ngIf="formDisplay">
                <form [formGroup]="addTerminalForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Name</label>
                                <input class="block" type="text" formControlName="terminalName"/>
                                <div *ngIf="addTerminalForm.controls['terminalName'].dirty || addTerminalForm.controls['terminalName'].touched">
                                    <p *ngIf="addTerminalForm.controls['terminalName'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                    <p *ngIf="addTerminalForm.controls['terminalName'].errors?.['minlength'] || addTerminalForm.controls['terminalName'].errors?.['maxlength']" style="color:red">
                                        {{terminalNameError}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Item Type</label>
                                <input class="block" type="text" formControlName="itemType"/>
                                <div *ngIf="addTerminalForm.controls['itemType'].dirty || addTerminalForm.controls['itemType'].touched">
                                    <p *ngIf="addTerminalForm.controls['itemType'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                    <p *ngIf="addTerminalForm.controls['itemType'].errors?.['minlength'] || addTerminalForm.controls['itemType'].errors?.['maxlength']" style="color:red">
                                        {{itemTypeError}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Capacity </label>
                                <input class="block" type="number" formControlName="capacity"/>
                                <div *ngIf="addTerminalForm.controls['capacity'].dirty || addTerminalForm.controls['capacity'].touched">
                                    <p *ngIf="addTerminalForm.controls['capacity'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                    <p *ngIf="addTerminalForm.controls['capacity'].errors?.['min'] || addTerminalForm.controls['capacity'].errors?.['max']" style="color:red">
                                        {{capacityError}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Harbor Location</label>
                                <input class="block" type="text" formControlName="harborLocation"/>
                                <div *ngIf="addTerminalForm.controls['harborLocation'].dirty || addTerminalForm.controls['harborLocation'].touched">
                                    <p *ngIf="addTerminalForm.controls['harborLocation'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                    <p *ngIf="addTerminalForm.controls['harborLocation'].errors?.['minlength'] || addTerminalForm.controls['harborLocation'].errors?.['maxlength']" style="color:red">
                                        {{harborLocationError}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Terminal Description</label>
                                <input class="block" type="text" formControlName="terminalDescription"/>
                                <div *ngIf="addTerminalForm.controls['terminalDescription'].dirty || addTerminalForm.controls['terminalDescription'].touched">
                                    <p *ngIf="addTerminalForm.controls['terminalDescription'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                    <p *ngIf="addTerminalForm.controls['terminalDescription'].errors?.['pattern'] || addTerminalForm.controls['terminalDescription'].errors?.['maxlength']" style="color:red">
                                        {{terminalDescriptionError}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Status </label><br>
                                <div class="row">
                                    <div style="height: 35px;">
                                        <input type="radio" style="float:left; margin-left:0px" id = "available" formControlName ="status" value="Available"/>
                                        <label for="available" style="height:35px">Available</label>
                                    </div>
                                    <div style="height: 35px;margin-left: 20px;margin-bottom: 7px;">
                                        <input type="radio" style="float:left; margin-left:0px" id = "notAvailable" formControlName ="status" value="notAvailable"/>
                                        <label for="notAvailable" style="height:35px">Not Available</label>
                                    </div>
                                </div>
                                <div *ngIf="addTerminalForm.controls['status'].dirty || addTerminalForm.controls['status'].touched">
                                    <p *ngIf="addTerminalForm.controls['status'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Available Capacity </label>
                                <input class="block" type="number" formControlName="availableCapacity"/>
                                <div *ngIf="addTerminalForm.controls['availableCapacity'].dirty || addTerminalForm.controls['availableCapacity'].touched">
                                    <p *ngIf="addTerminalForm.controls['availableCapacity'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                    <p *ngIf="addTerminalForm.controls['availableCapacity'].errors?.['min'] || addTerminalForm.controls['availableCapacity'].errors?.['max']" style="color:red">
                                        {{capacityError}}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Country </label>
                                <input class="block" type="text" formControlName="country"/>
                                <div *ngIf="addTerminalForm.controls['country'].dirty || addTerminalForm.controls['country'].touched">
                                    <p *ngIf="addTerminalForm.controls['country'].errors?.['required']" style="color:red">
                                        {{fieldRequired}}
                                    </p>
                                    <p *ngIf="addTerminalForm.controls['country'].errors?.['minlength'] || addTerminalForm.controls['country'].errors?.['maxlength']" style="color:red">
                                        {{countryError}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button (click)="addTeminal()" [disabled]="!addTerminalForm.valid" class="btn" style="background-color: rgb(10, 95, 10) ;">
                        Add Terminal
                    </button>
                </form>
        
            </div>  
            
            <div *ngIf="!formDisplay" style="text-align: center;">
                <h5 *ngIf="addTerminalSuccess!=''" class="success">{{addTerminalSuccess}}</h5>
                <h5 *ngIf="errorMessage!=''" class="error">{{errorMessage}}</h5>
                <button class="icon-button" [routerLink]="['terminals/home']" >Go Back</button>
            </div>
        </div>

    </div>

</div>
