.container-fluid{
    width: 70%;
}

.block{
    display: block;
    width: 100%;
    border: none;
}

input[type=text]{
    height: 35px;
    border-bottom: 1px solid black;
}
input[type=number]{
    height: 35px;
    border-bottom: 1px solid black;
}
input{
    height: 35px;
}

label{
    text-align: left;
    float: left;
}

.btn{
    margin: auto;
    display: block;
    color:white;
    width:50%;
}