<div class="container container-fluid">
    <div class="card" style="opacity: 0.8;margin: 20px 20px 20px 20px;">
        <div class="card-header">{{terminalHeader}}</div>
        <div class="card-body">
            <button class="icon-button" [routerLink]="['/terminals/addterminal']"><i class="fa-solid fa-plus fa-2x" style="color: white;"></i></button>
            <div class="table-responsive" *ngIf="noTerminals==''">
                <div class="table table-striped">
                    <thead>
                        <th>Terminal Id</th>
                        <th>Terminal Name</th>
                        <th>Terminal Description</th>
                        <th>Status</th>
                        <th>Item Type</th>
                        <th>Capacity</th>
                        <th>Available Capacity</th>
                        <th>Country</th>
                        <th>Harbor Location</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let terminal of terminalArray ; index as i;">
                            <td>{{terminal.terminalId}}</td>
                            <td>{{terminal.terminalName}}</td>
                            <td>{{terminal.terminalDescription}}</td>
                            <td>{{terminal.status}}</td>
                            <td>{{terminal.itemType}}</td>
                            <td>{{terminal.capacity}}</td>
                            <td>
                                <input *ngIf="enableEdit&&enableEditIndex === i" [(ngModel)]="terminal.availableCapacity">
                                <span *ngIf="!enableEdit||enableEditIndex !== i">{{terminal.availableCapacity}}</span> 
                            </td>
                            <td>{{terminal.country}}</td>
                            <td>{{terminal.harborLocation}}</td>
                            <td>
                                <div *ngIf="enableEdit&&enableEditIndex === i">
                                    <i class="fa-solid fa-floppy-disk" (click)="updateTerminalCapacity(terminal,modal)"></i> |
                                    <i class="fa-solid fa-xmark" (click)="enableEdit=false;enableEditIndex=null;"></i>
                                </div>
                                <div *ngIf="!enableEdit||enableEditIndex !== i">
                                    <i class="fa-solid fa-pen"  (click)="enableEditMethod(terminal, i)"></i> 
                                    | <i class="fa-solid fa-trash"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </div>
            <ng-template #modal let-modal>
                <div class="modal-body" style="text-align: center;">
                    <h6 class="success" *ngIf="updateSuccess!=''">{{updateSuccess}}</h6>
                    <h6 class="error" *ngIf="updateFail!=''">{{updateFail}}</h6>
                    <div style="text-align: center;"><button class="icon-button" (click)="goBack()">Back</button></div>
                </div>
            </ng-template>
            <div  *ngIf="noTerminals!=''" style="text-align: center;">
                {{noTerminals}}
            </div>
        </div>

    </div>

</div>

